* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  width: 100vw;
  height: 50px;
  backdrop-filter: blur(4px);
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.3);
  border-bottom: 1px solid #ccc;
}

header a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 10px 10px 10px;
  color: darkblue;
  top: 0;
  position: fixed;
}

nav {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

label {
  position: relative;
  display: inline-block;
}

.invalid-data {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 0.8em;
}

.delete-form {
  display: inline-block;
}

#opennav {
  display: flex;
  padding: 10px;
  font-size: 2em;
  position: inherit;
  right: 15px;
}
#opennav:hover {
  cursor: pointer;
}
/* The side navigation menu */
.sidenav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
